/*------------------------------------
       Button customization
------------------------------------*/
.alert-primary {
  color: #3d0000;
  background-color: #ff8484;
  border-color: #ff7070;
}

.alert-primary hr {
  border-top-color: #ff5757;
}

.alert-primary .alert-link {
  color: #0a0000;
}

.badge-primary {
  color: #fff;
  background-color: #B80000;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #840000;
}

.bg-primary {
  background-color: #B80000 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #840000 !important;
}

.border-primary {
  border-color: #B80000 !important;
}

.btn-primary {
  color: #fff;
  background-color: #B80000;
  border-color: #B80000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #940000;
  border-color: #840000;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(184, 0, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #B80000;
  border-color: #B80000;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #840000;
  border-color: #750000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(184, 0, 0, 0.5);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(184, 0, 0, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(184, 0, 0, 0.5);
}

.list-group-item-primary {
  color: #3d0000;
  background-color: #ff7070;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #3d0000;
  background-color: #ff5757;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #3d0000;
  border-color: #3d0000;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #ff7070;
}

.table-hover .table-primary:hover {
  background-color: #ff5757;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #ff5757;
}

.text-primary {
  color: #B80000 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #840000 !important;
}

p, span {
    font-family: 'Open Sans', sans-serif;
}

.paw-holder{
    width: 100%;
}

.paw-icon{
    width: 100%;
    max-width: 120px;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFF3;
}

.big-main-img-holder {
    width: 100%;
}

.big-main-img-row {
    padding-left: 0px;
    border: dotted black;
}

.big-main-img {
    width: 100%;
    height: auto;
    background-color: pink;
    background-color: blueviolet;
    object-fit: cover;
    border-radius: 60px;
    border: solid 2px #99DBFF;
}

.prod-by-anim-row {
    border: dotted white;
}

.services-text {
    font-size: 3vw;
    text-align: center;
    width: 100%;
}

.services-row{
    border: dotted blue;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: flex;
        width: 50%;
    }
    .carousel-inner .carousel-item > div:nth-child(2) {
        display: flex;
        width: 50%;
    }
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.card {
    border: #99DBFF 2px solid;
    border-radius: 20px;
    overflow: auto;
    background-color: B6E5FF;
    height: auto;
    padding: 1em;  
}

.card:hover {
    width: 110%;
    height: 110%;
    margin-left: -5%;
    margin-right: -5%;
}

.card-holder:hover {
    height: fit-content;
}

.card-img-holder{
    border: #99DBFF 2px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 1em 0;
    width: auto;
    height: 13vw;
}

.card-img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.product-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}

.product-price{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: #363636;
}

.card-holder{
    height: fit-content;

}

#text_1 {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#text_2 {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#text_3 {
    color: #a0959f;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#bar1 {
    background-color: #B6E5FF;
}

#bar2 {
    background-color: #99DBFF;
}
